<section id="event" class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">The Wedding</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage!</dd>
                    <dt>When</dt>
                    <dd>Saturday, August 18. Ceremony at 4:45 PM with drinks and dinner following.</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Henry's House<br>
                            <a href="https://goo.gl/maps/4GUXRrfsWA42">N8495 850th St, River Falls, Wisconsin</a><br>

                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is outside, there is grass, and your stilettos may sink in. It may also get chilly at night, bring a sweater or light jacket if you'd like to stay out late!
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There's a shuttle for guests to get to the Henry house from the hotels. The run schedule is:
                        <ul>
                            <li>3:45 at the Holiday Inn in Hudson</li>
                            <li>3:50 at the Fairfield Inn in Hudson</li>
                            <li>4:10 at the Econo Lodge in River Falls</li>
                        </ul>
                        There will be two runs to get everyone back home (there's also Lyft available):
                        <ul>
                            <li>10:00</li>
                            <li>12:00</li>
                        </ul>
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available in the field next door, follow the signs!</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
