<section id="event" class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">The Wedding</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage!</dd>
                    <dt>When</dt>
                    <dd>Saturday, August 18. Ceremony at 5:00 PM with drinks and dinner following.</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Henry's House<br>
                            <a href="https://goo.gl/maps/4GUXRrfsWA42">N8495 850th St, River Falls, Wisconsin</a><br>

                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is outside, there is grass, and your stilettos may sink in.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be shuttle options for guests. Details aren't finalized, but plan on there being
                      occasional shuttles to and from the below hotels, with the last run being around 11 PM.
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available in the field next door, follow the signs!</dd>
                    <dt>Friday Get-Together</dt>
                    <dd>We'll be getting together on Friday night someplace local in River Falls. Details to come.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
