<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">The Wedding</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage!</dd>
                    <dt>When</dt>
                    <dd>Saturday, August 18, Ceremony at 5:00 pm with cocktails and dinner after</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Henry's House<br>
                            <a href="https://goo.gl/maps/dSSnoZGtUyK2">N8495 850th St, River Falls, Wisconsin</a><br>

                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is outside, there is grass, and your stilettos may sink deep
                        into it.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be three bus pick up options for guests:
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">TODO TBD</a>: <strong>3:30pm</strong>
                            <li><a href="https://goo.gl/maps/o8KTZQg51Mt">TODO TBD</a>: <strong>3:45pm</strong>
                            <li><a href="https://goo.gl/maps/9KcZQProDN12">TODO TBD</a> (Downtown River Falls): <strong>3:45pm</strong>
                        </ul>
                        Shuttle will be returning to the hotels and downtown River Falls throughout the night, with the last around 10 PM.

                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available in the field next door</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
