{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            Please come and celebrate! If you feel inclined to give a gift, Steve and Allie are registered at these places!
        </p>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/la-strada.jpg' %}" class="img-responsive" alt="" style="padding-top: 60px;">
                    <h3>?</h3>
                    <p>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/spark.jpg' %}" class="img-responsive" alt="">
                    <h3>?</h3>
                    <p>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/acf.jpg' %}" class="img-responsive" alt="">
                    <h3>?</h3>
                    <p>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/climate-reality.jpg' %}" class="img-responsive" alt="">
                    <h3>?</h3>
                    <p>
                    </p>
                </div>
            </div>

        </div>
</div>
