<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">Maybe not the original proposal, but we had a photographer for the recreation with a beautiful sunset.</h5>
<section id="proposal" class="bg-secondary">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
              We were waiting to move into our new house in Aurora, and were surprised one Sunday afternoon when the seller called
              to say he was moving out early. So we picked up two frozen pizzas, wine, and lawn chairs and went to our new home
              for dinner! Steve also sneakily but the ring (box and all, it was actually pretty not sneaky) in his pocket. We
              got engaged that evening in our kitchen, before the pizzas were even done.
            </p>
        </div>
    </div>
</section>
