<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">River Falls</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>River Falls is located about 40 minutes east from the Minneapolis airport. If you're flying, MSP is really
              the only reasonable option.</p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Steve and Allie will be staying in Hudson, and that's where most of the reserved rooms are. There are also a few right in
                River Falls, for those that want to avoid the 20 minute commute. We have a block reserved at the Farfield in Hudson,
                Holiday Inn in Hudson, and the Econo Lodge in River Falls. Just mention the "Jarvis Henry wedding".
            </p>
            <p>We will provide a shuttle between the venue and the hotels in both locations. There's also (recently) Lyft available in the area.
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2"><a target=_blank href=http://www.marriott.com/hotels/travel/msphu-fairfield-inn-hudson>Fairfield Inn by Marriott, Hudson</a></th>
                    <td>
                        Right next door to the Holiday Inn Express & Suites.
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2"><a target=_blank href=https://www.ihg.com/holidayinnexpress/hotels/us/en/hudson/hudwi/hoteldetail>Holiday Inn Express & Suites Hudson-I-94</a></th>
                    <td>
                        Right next door to the Fairfield Inn by Marriot.
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2"><a target=_blank href=https://www.choicehotels.com/wisconsin/river-falls/econo-lodge-hotels/wi230>Econo Lodge, River Falls</a></th>
                    <td>
                        A bit closer to the venue than the places in Hudson.
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2"><a target=_blank href=https://www.bestwestern.com/en_US/book/hotel-rooms.50141.html>Best Western Campus Inn</a></th>
                    <td>
                        Also closer to the venue than Hudson, and a nice place, but we were not able to get a block of
                        rooms reserved here.
                    </td>
                </tr>
                <tr>
            </table>
            <hr class="primary">
        </div>
    </div>
</div>
