<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
              On a hot July day, Allie strutted into the Superior Dome for the first time.
              Steve tried to play it cool and ignored her. But that didn't last, and a month
              later they went on their first date up Sugarloaf Mountain with a bottle of wine and no
              way to open it. Bada-boom-bada-bang, here they are, 8 years later. They
              say you'll really get to know someone when you're on a road trip with them, and these
              two lovebirds have crossed at least a third of the country on 11 separate occasions.
              Not only that, but he can reach the top shelves, she remembers dog birthdays, and
              together they can sometimes keep a fire lit after the paper is done burning.
              It's perfect.

            </p>
            <p>
            </p>
        </div>
    </div>
</div>
